:root {
  /* глобальные переменные */
  --bg-layout-color: #161513;
  --bg-container-color: #222222;
  --text-primary-color: white;
  --text-secondary-color: #8491A0;
  --text-highlighted-color: #F77A53;
  --text-highlighted2-color: #3991E9;
  --text-font: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--text-font);
  color: var(--text-primary-color);
}

body {
  margin: 0;
  background-color: var(--bg-layout-color);
}

a {
  text-decoration: none;
}

h3 {
  padding: 10px;
}

.dif-colour1 {
  color: var(--text-highlighted-color);
}

.dif-colour2 {
  color: var(--text-highlighted2-color);
}

/*  navigation  */

.container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 0 40px;
}

.header {
  width: 100%;
  background-color: var(--bg-container-color);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sign img {
  width: 80px;
}

.nav-bar {
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav-bar-item {
  font-size: 15px;
  font-weight: 600;
}

/*     main      */

.main {
  display: grid;
  grid-template-columns: repeat(2, 390px);
  gap: 44px;
  justify-content: center;
}

.main-cont-1 {
  grid-column: 1 / -1;
  display: grid;
  place-items: center;
  /* центрируем и по X, и по Y */
  text-align: center;
  /* чтобы текст тоже по центру */
}

.my-photo-ring img {
  width: 350px;
}

.main-cont-2 {
  height: 301px;
  background-image: url(../images/block.svg);
}

.main-cont-3 {
  height: 301px;
  background-image: url(../images/block.svg);
}

/*     Cv      */

.block-container {
  display: grid;
  grid-template-columns: repeat(2, 390px);
  gap: 44px;
  justify-content: center;
}

.block-1 {
  grid-row: span 2;
  height: 646px;
  background-image: url(../images/block-tall.svg);
  align-items: center;
  justify-content: center;
  display: flex;
}

.my-photo img {
  width: 360px;
  border: 3px solid var(--text-secondary-color);
}

.block-2 {
  height: 301px;
  background-image: url(../images/block.svg);
  text-align: center;
}

.block-3 {
  height: 301px;
  background-image: url(../images/block.svg);
  text-align: center;
}

.block-4 {
  grid-row: span 2;
  height: 646px;
  background-image: url(../images/block-tall.svg);
  text-align: center;
}

.block-5 {
  height: 301px;
  background-image: url(../images/block.svg);
  text-align: center;
}

.block-6 {
  height: 301px;
  background-image: url(../images/block.svg);
  text-align: center;
}

.block-7 {
  height: 301px;
  background-image: url(../images/block.svg);
  text-align: center;
}

.block-8 {
  height: 301px;
  background-image: url(../images/block.svg);
  text-align: center;
}

/*    Portfolio    */

.portfolio-container {

}

.container1 {

}

.container1-photo {

}

.container1-text {

}

.container2 {

}

.container2-text {

}

.container2-photo {

}

.container3 {

}

.container3-photo {

}

.container3-text {
  
}

/*    braek points    */


@media (max-width: 1024px) {
  .container {
    padding: 0 32px;
  }

  .nav-bar {
    gap: 54px;
  }

  .sign img {
    width: 75px;
  }

  .nav-bar-item {
    font-size: 15px;
    font-weight: 500;
  }

  .block-container {
    grid-template-columns: repeat(2, 390px);
    gap: 28px;
  }

  .main {
    grid-template-columns: repeat(2, 390px);
    gap: 28px;
  }

}

@media (max-width: 768px) {
  .container {
    padding: 0 24px;
  }

  .nav-bar {
    gap: 32px;
  }

  .sign img {
    width: 70px;
  }

  .nav-bar-item {
    font-size: 14px;
    font-weight: 400;
  }

  .block-container {
    grid-template-columns: repeat(1, 350px);
    gap: 16px;
  }

  .block-1 {
    grid-row: span 2;
    height: 556px;
    background-image: url(../images/block-tall768.svg);
  }

  .my-photo img {
    width: 330px;
  }

  .block-2 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .block-3 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .block-4 {
    grid-row: span 2;
    height: 556px;
    background-image: url(../images/block-tall768.svg);
  }

  .block-5 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .block-6 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .block-7 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .block-8 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .main {
    grid-template-columns: repeat(1, 350px);
    gap: 16px;
  }

  .my-photo-ring img {
    width: 270px
  }

  .main-cont-2 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .main-cont-3 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }


}

@media (max-width: 375px) {
  .container {
    padding: 0 16px;
  }

  .nav-bar {
    gap: 16px;
  }

  .sign img {
    width: 60px;
  }

  .nav-bar-item {
    font-size: 14px;
    font-weight: 300;
  }

  .block-container {
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
  }

  .block-1 {
    grid-row: span 2;
    height: 556px;
    background-image: url(../images/block-tall368.svg);
  }

  .my-photo img {
    width: 300px;
  }

  .block-2 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

  .block-3 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

  .block-4 {
    grid-row: span 2;
    height: 556px;
    background-image: url(../images/block-tall368.svg);
  }

  .block-5 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

  .block-6 {
    height: 270px;
    background-image: url(../images/block768px.svg);
  }

  .block-7 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

  .block-8 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

  .main {
    grid-template-columns: repeat(1, 300px);
    gap: 16px;
  }

  .my-photo-ring img {
    width: 250px;
  }

  .main-cont-2 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

  .main-cont-3 {
    height: 270px;
    background-image: url(../images/block368px.svg);
  }

}